:root {
    --primary-color: #D2691E;
    --primary-dark-color:  #8F4714;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.Container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;  
    border-radius: 8px;
}

.Container h3{
    text-align: center;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

form button:hover {
    background-color: var(--primary-dark-color);
}